{% extends '::base.html.twig' %}

{% block body -%}
<h1>Quark list</h1>

<p>
  <a class="btn btn-info btn-lg" href="{{ path('quark_new') }}">
    Create a new entry
  </a>
  </p>

{% for entity in entities %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="pull-right badge">{{ entity.parent }}</span>
      <span class="pull-right badge">{{ entity.userid}}</span>
      <span class="pull-right">{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %} </span>
          {{ entity.id }}</h3>
  </div>
  <div class="panel-body">
    <p>{{ entity.content }}</p>
    <p>
    <a class="btn btn-primary btn-xs" href="{{ path('quark_show', { 'id': entity.id }) }}">show</a>
    <a class="btn btn-warning btn-xs"  href="{{ path('quark_edit', { 'id': entity.id }) }}">edit</a>
    </p>
  </div>
</div>
{% endfor %}

{% endblock %}
